* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283637;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
    padding: 12px;
}

#userInput {
    width: 280px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 40px;
    padding: 20px;
    color: white;
    background: transparent;
    text-align: end;
    margin-bottom: 30px;
}

input::placeholder {
    color: white;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: white;
}

input:-moz-placeholder {
    color: white;
    opacity: 1;
}

input::-moz-placeholder {
    color: white;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: white;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btns button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
}

#zeroBtn {
    grid-column: span 2;
    width: 100%;
}

a {
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    transition: all 0.5s;
    position: fixed;
    top: 20px;
    left: 20px;
}

a:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    border: 2px solid black;
}

@media (max-width: 320px) {
    .calculator {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        border-radius: 10px;
    }
}