* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #97C18D;
}

#particles-js {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: relative;
}

#myclock.clock {
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.hrmin {
    font-size: 45rem;
}

div.time {
    display: flex;
    align-items: center;
}

.secAndAmPm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    row-gap: 50px;
    margin-top: -20px;
}

#sec,
#ampm {
    font-size: 12rem;
}

div.date {
    font-size: 10rem;
    display: flex;
    justify-content: space-between;
}

button {
    position: fixed;
    top: 40px;
    right: 40px;
    height: auto;
    border-radius: 20px;
    width: 80px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
    display: none;
    border: 2px solid #97C18D;
}

button:hover {
    background-color: #97C18D;
}

button img {
    width: 100%;
    object-fit: cover;
}

a {
    color: #97C18D;
    text-decoration: none;
    font-size: 30px;
    margin: 20px;
    transition: all 0.2s;
    position: fixed;
    top: 20px;
    left: 20px;
}

a:hover {
    transform: scale(1.3);
}

/* For very large screens */
@media (max-width: 2560px) {
    .hrmin {
        font-size: 40rem;
    }

    #sec,
    #ampm {
        font-size: 8rem;
    }

    div.date {
        font-size: 10rem;
    }

    button {
        width: 140px;
    }

    a {
        font-size: 80px;
    }
}

/* For desktop screens */
@media (max-width: 1900px) {
    .hrmin {
        font-size: 32rem;
    }

    #sec,
    #ampm {
        font-size: 7rem;
    }

    div.date {
        font-size: 7rem;
    }

    button {
        width: 120px;
    }

    
    a {
        font-size: 70px;
    }
}

/* For laptops */
@media (max-width: 1460px) {
    .hrmin {
        font-size: 24rem;
    }

    #sec,
    #ampm {
        font-size: 6rem;
    }

    div.date {
        font-size: 6rem;
    }

    button {
        width: 100px;
    }
    
    a {
        font-size: 60px;
    }
}

/* For tablets */
@media (max-width: 1180px) {
    .hrmin {
        font-size: 16rem;
    }

    #sec,
    #ampm {
        font-size: 4rem;
    }

    div.date {
        font-size: 4rem;
    }

    button {
        width: 80px;
        display: block;
    }
    
    a {
        font-size: 55px;
    }
}

/* For large phones */
@media (max-width: 768px) {
    .hrmin {
        font-size: 12rem;
    }

    .secAndAmPm {
        row-gap: 35px;
        margin-top: -10px;
    }

    #sec,
    #ampm {
        font-size: 2.5rem;
    }

    div.date {
        font-size: 3rem;
    }

    button {
        width: 70px;
    }

    a {
        font-size: 45px;
    }
}

/* For small phones */
@media (max-width: 580px) {
    .hrmin {
        font-size: 8rem;
    }

    .secAndAmPm {
        margin-left: 30px;
        row-gap: 10px;
        margin-top: -0px;
    }

    #sec,
    #ampm {
        font-size: 2rem;
    }

    div.date {
        font-size: 2rem;
    }

    button {
        width: 60px;
    }

    a {
        font-size: 35px;
    }
}

/* For small phones */
@media (max-width: 450px) {
    .hrmin {
        font-size: 6rem;
    }

    .secAndAmPm {
        margin-left: 30px;
        row-gap: 10px;
        margin-top: -0px;
    }

    #sec,
    #ampm {
        font-size: 1.5rem;
    }

    div.date {
        font-size: 1.5rem;
    }

    button {
        width: 60px;
    }

    a {
        font-size: 30px;
    }
}